.registerarea{
    height: 522px;
    border: 1px solid #ccc ;
    margin-top: 20px;
}

.registerarea h3{
    height: 42px;
    border-bottom: 1px solid #ccc ;
    background-color: #ececec; 
    line-height: 42px;
    padding: 0 10px; 
    font-size: 18px; 
     font-weight: 400;
}

.login{
    border:0px;
    float: right;
    font-size: 14px;
}

.login a{
    color: burlywood;
}

.reg-form{
    width: 600px;
    margin: 50px auto 0; 
}